
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(241, 232, 237, 0.29)"         
         >
      © Fayssal Merzougui:
      <a class="text-dark" href="#"
         >TodoApp.com</a >
    </div>
    <!-- Copyright -->
  </footer>


